.profile-block {
  background: #ef3c6c;
  padding: 20px 0;
  color: #fff;
}

img.avatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
}

.text-alpha {
  opacity: 0.7;
}
