.popup-box,
.modal-overlay,
.popup {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: absolute;
  background: rgba(0,0,0,.4);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition-duration: .4s;
}
.modal-overlay.modal-overlay-visible {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: fixed;
  z-index: 19000;
  visibility: hidden;
}

.popup.show {
  visibility: visible;
}

.popup-box {
  position: absolute;
  z-index: 11000;
  background: #fff;
  transform: translate3d(0,100%,0);
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  display: block;
  transition-duration: .4s;
}

.popup-box.modal-in {
  transform: translate3d(0,0,0);
}